In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np
import requests
import time

In [2]:
url = "https://www.si.com/college/2022/03/15/march-madness-picks-seeding-ncaa-tournament-teams"


response = requests.get(url)

html = response.text
html[0:500]

soup = BeautifulSoup(html, "lxml")

# container = soup.find("p", "strong")
team = soup.find_all("p")
len(team)

91

In [3]:
cols = ["Team Rank"]
lst=[]

for a in range(1,len(team)):
#     try:
    row=team[a]
#     print(row)
    bold_title=row.find_all("strong")
#     print(bold_title)
  
    if (len(bold_title)>0):
        rank= bold_title[0].text.strip()
        print(rank)
        found = True
    else:
        found =False
    lst.append([rank])

1. Gonzaga:
2. Arizona:
3. Kansas:
4. Purdue:
5. UCLA:
6. Tennessee:
7. Kentucky:
8. Texas Tech:
9. Baylor:
10. Villanova:
11. Duke:
12. Arkansas:
13. Iowa:
14. Saint Mary’s:
15. Houston:
16. Illinois:
17. Auburn:
18. Connecticut:
19. Boise State:
20. Memphis:
21. Texas:
22. Creighton:
23. Wisconsin:
24. Murray State:
25. San Diego State:
26. Loyola Chicago:
27. Michigan State:
28. North Carolina:
29. Virginia Tech:
30. San Francisco:
31. Indiana:
32. Colorado State:
33. USC:
34. Seton Hall:
35. Michigan:
36. Rutgers:
37. Alabama:
38. Ohio State:
39. South Dakota State:
40. Providence:
41. LSU:
42. Davidson:
43. TCU:
44. Miami:
45. UAB:
46. Vermont:
47. Notre Dame:
48. Wyoming:
49. Colgate:
50. Marquette:
51. Iowa State:
52. New Mexico State:
53. Chattanooga:
54. Richmond:
55. Akron:
56. Montana State:
57. Saint Peter’s:
58. Longwood:
59. Yale:
60. Jacksonville State:
61. Delaware:
62. Wright State:
63. Norfolk State:
64. Cal State–Fullerton:
65. Georgia State:
66. Bryant:
67. Texas Southern:
68. Texas A&M–Corpus Christi:
More March Madness Coverage:
•

In [42]:
df = pd.DataFrame(lst, columns =cols)

In [43]:
file2 = df.drop_duplicates()

In [44]:
file3=file2.reset_index(drop=True)

In [45]:
file3[['Team Rank','Team']] = file3['Team Rank'].str.split('.',expand=True)
file3

                       Team Rank                        Team
0                              1                    Gonzaga:
1                              2                    Arizona:
2                              3                     Kansas:
3                              4                     Purdue:
4                              5                       UCLA:
..                           ...                         ...
65                            66                     Bryant:
66                            67             Texas Southern:
67                            68   Texas A&M–Corpus Christi:
68  More March Madness Coverage:                        None
69                             •                        None

[70 rows x 2 columns]

In [ ]:
file3.to_csv("Rank_3_22_2022.csv")